[2017-05-10 20:42] neuronetio opened #1 "array `key` property"
I'm trying to iterate through an array of items with `<Tr>` but when I set a `key` property on `<Tr>`
[code]
I have following error:
```Warning: Unknown props `inHeader`, `responsiveTable` on <tr> tag. Remove these props from the element```
and
```Warning: Unknown prop `columnKey` on <th> tag. Remove this prop from the element.```

When there is no `key` react will complain
`Each child in an array

[2017-05-11 20:28] coston commented on #1
Hey @neuronetio, you should be able to iterate with key props without warnings now. I just updated the example to use key. Let me know how it goes. 🙌🏻

[2017-05-11 20:37] #1 closed

[2017-06-04 04:28] michaelryancaputo opened #2 "Unknown Prop "columnKey""
Hey there! Great component. Am really hoping I could get some help fixing this issue as it seems to be throwing an error.

`Warning: Unknown prop `columnKey` on <td> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop`

`  in td (created by Unknown)
    in tr (created by TrInner)
    in TrInner (created by Unknown)
    in Unknown (created by Unknown)
    in tb

[2017-06-12 21:15] coston commented on #2
Hey @michaelryancaputo! Thank you for submitting your issue. I've having trouble producing the warning you received. Could you share some code so I can get a better look at what's going on?

[2017-06-26 18:23] coston commented on #2
@michaelryancaputo did you ever resolve the issue. How can I help?

[2017-06-26 18:46] michaelryancaputo commented on #2
I believe it was a typo on my part. Thank you for following up!

[2017-06-26 18:46] #2 closed

[2017-06-26 19:07] coston commented on #2
@michaelryancaputo Cool! Glad it's working for you. Feel free to give feedback if anything comes to mind. My team and I think this is a great way to do tables. I hope to continue making improvements on it.

[2017-07-11 22:44] neuronetio opened #3 "Unknown props `inHeader`, `responsiveTable` on <tr> tag."
[code]

code:
[code]

[2017-07-11 22:45] neuronetio opened #4 "props.children.map is not a function"
[code]

[2017-07-11 22:47] neuronetio opened #5 "Warning: Unknown prop `columnKey` on <th> tag."
[code]
[code]

[2017-07-14 15:13] jorrit opened #6 "Use a different boilerplate module"
`react-component-gulp-tasks` seems unmaintained and doesn't work with Node 8. Maybe use a different boilerplate module for compability with new Node versions and Javascript syntax?

[2017-07-19 02:06] coston commented on #6
Definitely. I was thinking of moving away from gulp. I'll work on this later, unless you or someone would like to handle this.

[2017-07-19 06:48] jorrit commented on #6
Because I feared that RSRT was no longer maintained I tried to make a similar module. I settled on using [nwb](https://github.com/insin/nwb) as boilerplate. It looks like it is well-maintained and it doesn't specify an eslint configuration so you can decide that yourself.

[2017-10-26 21:30] coston commented on #6
Fixed in #9

[2017-10-26 21:30] #6 closed

[2017-10-26 21:31] #5 closed

[2017-10-26 21:31] #4 closed

[2017-10-26 21:31] #3 closed

[2018-01-12 16:56] coston opened #25 "Add gif example"
![rsrt](https://user-images.githubusercontent.com/7424180/34885948-324b1e6a-f787-11e7-93a7-aacac5e7e315.gif)

[2018-01-12 18:42] #25 closed

[2018-01-29 03:53] splurtcake opened #31 "React does not recognize the `columnKey` prop on a DOM element."
Currently getting the following error output when using your library with React v16.2.0

It appears in your code as `columnKey` but should be spelt all lowercase to avoid the error. Has anyone else come across this?

[code]

[2018-01-29 03:53] splurtcake commented on #5
@neuronetio @coston what was the resolution to this?

[2018-01-29 03:55] splurtcake commented on #31
Actually, ignore, I believe it was a typo on my part. Doh!

I forgot to change my `<th>` to `<Th>`

* face palm *

[2018-01-29 03:55] #31 closed

[2018-05-17 13:58] greenkeeper[bot] opened #50 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-26 01:53] #50 closed

[2018-08-02 22:09] NShahri opened #61 "Error when there is only one column in table"
When there is only one column in `Tr` it will throw the following exception.
`props.children` is not `array` in this case.

[code]

**Fix:**
https://github.com/ua-oira/react-super-responsive-table/pull/60

[2018-08-03 20:36] coston commented on #61
Merged #60. This is a great solution for a problem I hadn't thought of. Thank you @NShahri!

[2018-08-03 20:36] #61 closed

[2018-08-09 09:22] NShahri opened #63 "Not able to use conditional column"
Issue:
It is not possible to use conditional columns:
`{false && <Td>Column</td>}`

Error:
[code]

Fix:
https://github.com/ua-oira/react-super-responsive-table/pull/62

[2018-08-09 09:54] lazev3do opened #64 "Mobile view headers not updating"
After the first render if the text of < Th > is changed it will update the desktop view but not the mobile view. Some of my header elements are dynamically changed and when they are updated there is a mismatch between desktop and mobile view.

![headers-not-updated-state-not-updated](https://user-images.githubusercontent.com/2797500/43891754-0c111c74-9bc2-11e8-937e-a8649aa0c511.png)

![missmatch-h

[2018-08-14 14:45] coston commented on #64
@lazev3do i've added a simple section to the readme with instructions taken from the comment above from @jasonphillips. How does this resolution work for you?

[2018-08-14 15:10] coston commented on #63
Great call! Merged #62.

[2018-08-14 15:10] #63 closed

[2018-08-16 13:58] #64 closed

[2018-08-26 17:02] vongohren opened #69 "Doesnt seem to work on my setup"
Any idea what it can be?
I run a simple create-react-app setup

<img width="1122" alt="screen shot 2018-08-26 at 19 01 50" src="https://user-images.githubusercontent.com/1012055/44630723-8d75d900-a962-11e8-80df-6d070a3bc34b.png">

[2018-08-26 17:30] coston commented on #69
@vongohren what version of React are you using?

[2018-08-26 19:25] bastaware opened #70 "Demo site broken"
![image](https://user-images.githubusercontent.com/1000036/44632166-88228980-a976-11e8-9643-aea5e7a045ce.png)

[2018-08-26 20:18] #70 closed, assigned to nobody

[2018-08-27 03:08] jasonphillips commented on #69
Must be < 16, because I see that I somehow set up the `createContext` polyfill incorrectly for pre-16 versions. Whoops

This line: https://github.com/ua-oira/react-super-responsive-table/blob/master/src/tableContext.js#L7

Should just be:

[code]

It would help to add explicit testing under React 15 as well in Travis. I think it's just testing the latest React now, so this kind of typo can go unde

[2018-08-27 08:38] vongohren commented on #69
@jasonphillips thats a straight up assumption :P And assumptions are straight out dangerous: https://medium.com/thrive-global/9-reasons-why-making-assumptions-is-dangerous-345e8b24008c

But no i do not just < 16 react.
This is my version "react": "^16.2.0".

[2018-08-27 13:04] coston commented on #69
@jasonphillips you are right that it is broken at < 15. I get the error @vongohren posted above. I'm about to fix it.

@vongohren I'm having trouble reproducing the error at react@16. I just tested the component using react-create-app and react@16.2.0. It works for me. Could you provide how you are using it, either the component or repo code?

[2018-08-28 15:22] #69 closed

[2018-08-29 17:48] coston commented on #50
![rsrt](https://user-images.githubusercontent.com/7424180/44805432-c80d8a80-ab89-11e8-9387-388aee3e0b47.gif)

[2018-09-10 08:27] vongohren commented on #69
Thanks for the response, we tried a different way to view our data so that is why I have not been able to test. Sorry for that.

[2018-09-15 16:46] greenkeeper[bot] opened #77 "An in-range update of mdx-go is breaking the build 🚨"
## The devDependency [mdx-go]() was updated from `1.1.9` to `1.1.10`.

🚨 [View failing branch](https://github.com/ua-oira/react-super-responsive-table/compare/master...ua-oira:greenkeeper%2Fmdx-go-1.1.10).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mdx-go is a devDependency of this project. It **might not break your p

[2018-09-19 05:00] greenkeeper[bot] opened #79 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepoundefined

🚨 [View failing branch](https://github.com/ua-oira/react-super-responsive-table/compare/master...ua-oira:greenkeeper%2Fmonorepo.react-16.5.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

This monorepo update includes releases of one or more dependencies which

[2018-09-23 12:17] #79 closed

[2018-09-23 12:17] #77 closed

[2018-10-01 06:09] wenche opened #81 "Support <tfoot>"
It would be nice to support the <tfoot> tag for tables with summarizing rows. Any plans for that?

[2018-10-01 13:41] coston commented on #81
Hey @wenche, that's a great idea! It is now in the plan. Is this something you'd like to contribute to the project?

[2018-11-20 22:00] zannix opened #86 "Overflow (suggestion)"
I see that the overflow of content inside cells is not dealt with.

I propose a prop called  **"wordBreak"** (BOOLEAN) to be introduced for the "Td" and "Th" components which would dynamically add style property: **word-break**:break-all;

[2019-04-11 18:36] coston commented on #25
![Kapture 2019-04-11 at 13 34 56](https://user-images.githubusercontent.com/7424180/55982530-baab9900-5c5e-11e9-97c0-0336c5889504.gif)

[2019-04-27 22:04] coston commented on #86
Hi @zannix! Thank you for submitting this issue. I'm not interested in introducing a prop for this, but I may tweak the included stylesheet and functionality to resolve this in the future. In the meantime, you can add `style={{wordBreak:'break-all', whiteSpace: 'nowrap'}}` to the `<Th>` or `<Td>` to allow for word break. I hope this is helpful.

[2019-04-27 22:04] #86 closed

[2019-05-08 06:48] DarkMatter33 opened #96 "Custom breaking points"
Custom breaking points to define where <Th> should become display block along with <Td>.

For eg: If someone want to transition from Table view to card view when screen size is < 700px .
Currently  it set to 40em `@media screen and (max-width: 40em) ` , even after changing it <Th> item remains hidden.

[2019-05-15 16:07] DarkMatter33 commented on #96
![image](https://user-images.githubusercontent.com/19519646/57790968-74fc5780-7759-11e9-8398-35aa48c6795b.png)

Here's an image. I've set breaking point to 700px but headers remains hidden till 640px. Any idea?

[2019-05-17 13:40] coston commented on #96
Hey @DarkMatter33, I'm exploring lightweight options for bundling styles with the table components, but for now this is the cleanest/lightest solution. Keep in touch with the project, as soon I hope to present various options for the next version.

[2019-05-17 13:40] #96 closed

[2019-06-07 09:50] el-lsan opened #101 "Table header is not responsive"
**Describe the bug**
Table looks broken when you have long labels in table header.

**To Reproduce**
Try to render following table:
[code]

**Expected behavior**
I am expecting to get the same behaviour as `<td>` tag for `<th>`, so when there is no enough space, the line should break into multiple lines.

**Screenshots**
![table](https://user-images.githubusercontent.com/1249548/59095053-d9a17100-

[2019-06-13 14:45] coston commented on #101
Hey @el-lsan! Thank you for creating this issue. I've added some overflow css. Take a look and let me know what you think. #103
https://deploy-preview-103--react-super-responsive-table.netlify.com/
![image](https://user-images.githubusercontent.com/7424180/59442397-c41cc300-8dbf-11e9-8268-8a4aeb907f04.png)

[2019-06-16 01:05] #101 closed

[2019-06-16 01:07] coston commented on #101
`npm install react-super-responsive-table@5.0.0` to install the changes.

[2019-06-16 23:24] el-lsan commented on #101
@coston thanks a lot for the fix.
it is much better now, however in some cases it still looks broken

![image](https://user-images.githubusercontent.com/1249548/59570851-91641a80-909e-11e9-8470-d19c24423b80.png)

[2019-06-22 05:30] mbrahimi617 commented on #96
Table shouldn't be 100% width when not collapsed firstly. It should begin to collapse once adjacent columns start to wrap as a result of pushing up against one another.

[2019-06-22 10:12] coston commented on #96
@mbrahimi617 feel free to submit a PR

[2019-09-12 11:10] alexandra1331 opened #109 "Table header is not responsive"
**Describe the bug**
The table header is not responsive when having a column with no data. This causes the columns to overlap.

**To Reproduce**
Add a column with no data.

**Screenshots**
![image](https://user-images.githubusercontent.com/46926675/64778886-6f771880-d565-11e9-8772-30d191d28888.png)

[2019-09-13 20:02] coston commented on #81
Closing because stale

[2019-09-13 20:02] #81 closed

[2019-09-15 22:58] coston commented on #109
In various cases it may be necessary to modify the css. I'm not sure what's causing your particular issue without access to the site itself. Closing until more information is provided.

[2019-09-16 14:22] alexandra1331 commented on #109
The problem is that, in your code, you only verify if a child is "undefined". In my case, the child is null because my child is a component like a Button or a TextField. I don't want to verify all over my code if a child is null, is not a good option for me.
![image](https://user-images.githubusercontent.com/46926675/64964424-b5084e00-d8a3-11e9-814f-4b0708627bb0.png)

I reproduced the problem on y

[2019-09-16 19:26] coston commented on #109
@alexandra1331 Ahhh, I see. Thank you for providing more information. Would you like to submit a fix via pull request?

[2019-09-17 06:29] alexandra1331 commented on #109
Sure. Will do :)

[2019-09-17 21:12] #109 closed

[2019-09-19 07:55] DCosti commented on #101
@coston  I encounter the same problem. Do you have any updates?
Thanks!

[2019-09-19 13:28] coston commented on #101
@DCosti how long is your header? You may need to tweak the included css.

[2019-09-19 14:22] DCosti commented on #101
@coston My header contains 20 characters. I tried to tweak the css but i didn't managed to solve it.

[2019-09-26 14:00] facing-n opened #114 "Thead Invariant Violation Dynamic Data"
Hi,

I have a table where I don't know how many columns there will be until the table is rendered.  I receive the following error:

[code]

My code is:

[code]

I am using this along with react-table.  The suggestions on the ReadMe for dynamic header titles seems related to my issue, but it hasn't provided me with any clues.

[2019-09-26 16:59] jasonphillips commented on #114
I think I can spot a problem up front after glancing at your code above; check this section where the error occurs:

[code]

Since you use `{ }` around your map function, those contents (`<Tr>...</Tr>`) aren't actually getting returned. Second, I don't think you intend to create a row for each header, just a header cell for each within a single row. So you would need to change it up to something l

[2019-09-26 17:27] facing-n commented on #114
@jasonphillips Thank you very much - these insights helped me to resolve my issue - had been banging my head for a while.

[2019-09-26 17:27] #114 closed

[2019-10-11 16:10] dragos-rosca opened #115 "rowSpan Property"
I needed to add "rowSpan" to my `<Td>` component and it didn't work. Then I looked over the code and saw that the "colSpan" attribute is being considered and when this is sent to the component all the other props are also sent to the html `<td>` component.

This means that if I use `<Td rowSpan={2}>[...]</Td>` the "rowSpan" attribute will get ignored but if I use something like `<Td colSpan={1} ro

[2019-10-11 18:05] coston commented on #115
Hey @dragos-rosca! Thanks for bringing this issue to light. Would you like to contribute a fix via pull request?

[2019-10-12 15:52] dragos-rosca commented on #115
Hello, thank you for the opportunity but I think you guys will do a better job.
Like there's a bug in my comment that overrides the "className" property in the `<td>` excluding your "pivoted" class.

[2019-10-14 07:10] dragos-rosca commented on #115
I created a fork and I will add the code the best I can. See you at pull request!

[2019-10-22 12:55] coston commented on #115
fixed with #116

[2019-10-22 12:55] #115 closed

[2019-10-22 12:55] coston commented on #115
Thank you @dragos-rosca!

[2019-10-23 10:28] ymihir opened #117 "Any support for paging, filtering, sorting support?"
It will be great if you provide paging, filtering, sorting support for this awesome table? Any possibility of implementing?

[2019-10-23 13:43] coston commented on #117
@ymihir, thank you for proposing this enhancement! There is always possibility. I'm not personally invested in adding this functionality, but if you'd like to work on a proof-of-concept, perhaps we could add it to the package.

Are you interested in working on this enhancement?

[2019-10-25 01:29] coston commented on #117
@ymihir you should be able to roll this out with a little `.map()', `.filter()` work. If you're looking for a do it for you kind of table, checkout [instant-table](https://www.npmjs.com/package/instant-table)

[2019-10-25 01:34] coston commented on #117
@ymihir thanks for submitting this enhancement. I don't think this is the kind of functionality we want to build into the component. I do believe that react-super-responsive-table plays nicely with paging, filtering, and sorting with a little javascript work. Let us know if you come up with any good work with this.

[2019-10-25 01:34] #117 closed

[2019-11-07 09:18] The-Code-Monkey opened #119 "Wrapper Ability?"
**Is your feature request related to a problem? Please describe.**

Yes, Having to use the inbuilt components, there used to be a JQuery Lib (Stacktable) where you used to just give it the table element and it would work out the rest from there.

**Describe the solution you'd like**

With using React I think we could do similar to that where we can build a wrapper component something like `<AutoTa

[2019-11-08 21:57] coston commented on #119
Hey @The-Code-Monkey! Thank you for creating this feature request. That does sound like a cool feature. Is this component something you would like to contribute to the project?

[2019-11-09 07:37] The-Code-Monkey commented on #119
Hi @coston, this is something I would like to add to the project and I am currently building a small prototype of this I will let you know when I'm getting somewhere with it.

[2019-11-10 00:15] coston commented on #119
Sounds good @The-Code-Monkey!

[2019-11-13 19:44] tommydev opened #121 "Dynamic Table Data"
**Is your feature request related to a problem? Please describe.**
The component does not seem to work with dynamic creation of tables.  I tried on a static table with no issues.
**Describe the solution you'd like**
Ability to use dynamic data tables

**Describe alternatives you've considered**

**Additional context**

[2019-11-13 19:50] #121 closed

[2019-11-13 19:50] tommydev commented on #121
disregard.  I goofed my code :)

[2019-11-13 19:53] coston commented on #121
@tommydev cool! It happens to all of us. I'm glad you got it worked out 🙌

[2019-11-14 02:18] tommydev opened #122 "Ability to Set the Breakpoint"
**Is your feature request related to a problem? Please describe.**
I have tables with many columns and I'd like to be able to pass in a breakpoint so that the table will respond to larger sized view ports.  So for tablet I would still like to show the responsive table.
**Describe the solution you'd like**
Ability to pass a prop into the Table component with the breakpoint size.

**Describe alterna

[2019-11-14 16:03] #122 closed

[2019-11-15 13:40] The-Code-Monkey commented on #119
This is the wrapper working on desktop

![image](https://user-images.githubusercontent.com/31218527/68947376-3a798300-07ad-11ea-8976-5e8387f5ae07.png)

This is the wrapper not working on smaller screens.

![image](https://user-images.githubusercontent.com/31218527/68947413-4f561680-07ad-11ea-9f52-e09d9f136f99.png)

I'm not sure why im not getting the children building on the page? is it because it

[2019-11-15 13:50] The-Code-Monkey commented on #119
I have now got it working, i will need to get this working no matter how nested it is now but that shouldn't take too long I will submit a pr when i get that working.

![image](https://user-images.githubusercontent.com/31218527/68948036-ec657f00-07ae-11ea-828b-291e542b0dc6.png)

[2019-11-15 14:03] The-Code-Monkey commented on #119
I have created a PR https://github.com/ua-oira/react-super-responsive-table/pull/123

[2019-12-16 13:33] kalimuthu123 opened #124 "Fixed Header & Fixed Column"
Hi here i want to fix the column headers and fixed columns in the table

[2020-01-24 11:10] vsfarooqkhan opened #127 "I couldn't able to add two tables using this package in my class. Why does it happens? Or any way to use two tables on same class?"
I couldn't able to add two tables using this package in my class.  Why does it happens? Or any way to use two tables on same class?

Is this an issue or I don't know to use it?

[2020-01-24 14:03] coston commented on #127
Hi @vsfarooqkhan! You should be able to. What error message are you receiving when adding two tables to the same class?

[2020-01-24 14:04] coston commented on #127
@vsfarooqkhan feel free to share the code as well

[2020-01-29 13:57] coston commented on #127
Closing issue. Feel free to reopen with more information

[2020-01-29 13:57] #127 closed

[2020-02-01 00:59] galacemiguel opened #128 "Prop to set custom breakpoint"
**Is your feature request related to a problem? Please describe.**
My table's layout is breaking before the media query styles kick in and reflow the content.

**Describe the solution you'd like**
Given that all tables will vary in content, I think it would be useful to accept a prop to determine when to shift the layout of the table as opposed to setting a universal breakpoint for all.

**Describ

[2020-02-06 22:52] coston commented on #124
Please feel free to submit a PR

[2020-02-06 22:52] #124 closed

[2020-02-06 22:56] coston commented on #128
Hi @galacemiguel. Thank you for submitting this feature request! The intention of just having a generic css file is to allow the developer to handle the styles as they see fit for their project. Do you have a good solution that doesn't add dependencies? Please feel free to submit a PR or POC.

[2020-02-07 01:35] galacemiguel commented on #128
@coston I'll see if I can figure something out. Thanks!

[2020-02-24 14:46] galacemiguel commented on #128
Hey, @coston! Sorry to get back to this so late.

I've been playing around with this and have figured some stuff out. For a custom breakpoint prop to make sense, it will imply that users will rely on the base styles defined in the default stylesheet for _just_ shifting the layout, but then ideally roll their own styles on top of that to design their table.

Therefore if their own styles are ultima

[2020-03-13 12:45] galacemiguel commented on #128
Friendly ping! @coston 🔔

[2020-03-13 12:59] coston commented on #128
@galacemiguel The above prerequisites are good. Please do work up a proof-of-concept, and consider how it will affect projects that are using the styles provided from the component stylesheet. I'd like to minimize disruption there. 🚀

[2020-03-18 09:04] YoannBuzenet opened #133 "Make <TR> a Link in Responsive"
**Is your feature request related to a problem? Please describe.**
Hello ! I would like to make my table clickable, even for the duplicated `<th>,` in responsive. Currently I can only make the `<Td>` be Link, but not the `<Th>`.

**Describe the solution you'd like**
It would be great if we could setup a parameter to make the hole line clickable in responsive, or even in desktop.

**Describe altern

[2020-03-18 15:03] ale-rinaldi opened #134 "feat: add <Tfoot> functionality"
It could be really useful to have a prop to set a different column name for a single row.

Let's take as example this table:
| Product | Quantity | Price |
|-----------|----------|-------|
| Item 1 | 1        | 5 $   |
| Item 2 | 3        | 7 $   |
| Item 3 | 2        | 3 $   |
| **Total**     | **6**        | **15 $**  |

When pivoting it, I get the Total row mixed up, like:
- Product:         To

[2020-03-19 12:45] coston commented on #133
Hey @YoannBuzenet! Thank you for reaching out about this. I think you could add link or onClick events to handle this. Could you provide a working example of what you are trying to do?

[2020-03-19 12:50] coston commented on #134
Hi @ale-rinaldi! Thank you for creating this issue. It sounds to me that you would like a footer row. I think this is a wonderful idea, and it's been on my mind lately. A `<Tfoot>` tag that ensures bottom row population when the table is pivoted.

@ale-rinaldi, is this a feature you are interested in contributing?

[2020-03-19 17:55] YoannBuzenet commented on #133
Hello !
I have a table and each <Tr> is generated by a `.map` and links to a particular page. So my `<Th>` is out of the `.map` that creates the link to each page in the <Tr>.
I don't know how I could do that ?

[2020-03-20 18:40] greenkeeper[bot] opened #136 "An in-range update of babel7 is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.8.3` to `7.8.4`.
- The `devDependenc

[2020-03-21 00:27] coston commented on #133
@YoannBuzenet, would using an onClick handler work in your case?
[code]
This would allow navigation from any part of the row, even when pivoted.

[2020-03-21 03:00] YoannBuzenet commented on #133
Completely, it works :)

Thank you !!

[2020-03-21 22:12] coston commented on #133
@YoannBuzenet yay! Cheers! 😄

[2020-03-21 22:12] #133 closed

[2020-03-21 22:38] #128 closed

[2020-04-17 15:46] rchancey opened #142 "What about stripping and passing in styles?"
this is really nice and seems the best one out there.. but need basic styling like stripping and table lines.. is there a way to set those?

[2020-04-22 01:55] coston commented on #142
Hello @rchancey! Thank you for the kind words. The styles are totally within your control via the generic css import. If you are meaning something else, please elaborate or submit a proof-of-concept. I'm happy to consider new approaches.

[2020-04-28 21:15] coston commented on #142
Closing for now. Feel free to reopen with more information.

[2020-04-28 21:15] #142 closed

[2020-05-24 16:32] renovate[bot] opened #144 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [x] chore(deps): update typescript-eslint monorepo to v8.2.0 (`@typescript-eslint/eslint-plugin`, `@typescript-eslint/par

[2020-05-28 16:13] YoannBuzenet commented on #133
Hello,

I found another way to make it happen.

Problem of window.location.href is that is not using React Router hence reload the whole app.

This can be avoided with the **History** props of React Router, either as a props or a hook (useHistory)
`onClick={() => (window.location.href = "/card/" + card.name)}`
can be written
`function handleClick() {
    history.push("/card/" + card.name);
  }`
`o

[2020-06-27 20:06] ThahaShahzad opened #165 "Borders not showing even with importing css"
![image](https://user-images.githubusercontent.com/61521512/85931146-c85f3580-b887-11ea-8e41-2b292039edba.png)

![image](https://user-images.githubusercontent.com/61521512/85931149-d01eda00-b887-11ea-8afb-b541ce148ef2.png)

[2020-06-27 23:40] coston commented on #165
@ThahaShahzad Thank you for bringing to light a potential issue for some users. The included css is not meant to be a full table style solution, but the minimum necessary to handle responsiveness. If the css itself is causing an issue, please identify it and open a more descriptive issue or PR.

[2020-06-27 23:40] #165 closed

[2020-07-28 09:35] anmolmalik97 opened #175 "Half of the rows are not visible."
**Describe the bug**
Half of the rows are not visible. happening with every alternate row.
Only happening on ios devices.
Works fine with every other device.

**To Reproduce**
Steps to reproduce the behavior:
1. Can be reproduced by using this library in any ios device

**Expected behavior**
All rows should be visible.

**Screenshots**

![GIF](https://res.cloudinary.com/teleopdassets/image/upload/

[2020-07-28 13:08] coston commented on #175
@anmolmalik97 please share a code sample via code sandbox or share a snippet that can be pasted into the demo page.

[2020-07-28 13:14] coston commented on #175
@anmolmalik97

I cannot reproduce this issue in iOS. Please share simplified code demonstrating a bug in the library, if possible.

[2020-07-28 20:12] anmolmalik97 commented on #175
@coston .
Thanx for such a quick response.

I figured it out.

it was happening due to a bootstrap class.
fixed it up.

Thank you so much :)

[2020-07-28 20:12] #175 closed

[2020-08-27 10:54] themichailov opened #184 "Render falsy variables"
**Describe the bug**
Using variable with falsy value equal to zero renders &nbsp instead of zero.

**To Reproduce**

Code:
[code]
Results:
[code]

**Expected behavior**
[code]

[2020-08-31 13:29] coston commented on #184
@themichailov thank you for creating this issue. It looks good. I will review/publish the changes later today.

[2020-09-01 00:12] #184 closed

[2020-09-01 00:18] coston commented on #184
Merged. Install v5.1.2 to see the fix locally. Thank you! ✌️

[2020-09-22 18:30] jdrag12 opened #196 "Dynamic Header"
Hello,

I don't really understand how to use dynamic headers. I am trying to integrate my headers for the table like this:

<Table
        key={1}
        border={0}
        className={classes.table}
        aria-label="simple table"

        <Thead>
          <Tr>
            <Th></Th>
            {headers.map((header, i) => (
              <Th key={i} className={classes.headCell}>

[2020-09-23 13:53] coston commented on #196
Hey @jdrag12. Would you mind sharing the snippet with https://codesandbox.io or similar? I'll see if I can help.

[2020-09-23 16:26] jdrag12 commented on #196
Sure Coston, thanks a lot.

Codesandbox URL: https://codesandbox.io/s/crazy-kare-nr79u
Issue: Only the first 2 headers are visible in small devices.

[2020-09-23 17:26] coston commented on #196
Ahh, I get it now. Your table starts with two headers, then you add more, and it doesn't update. Add something that changes with the headers as the Table key, like `products.length`.
[code]
Now, every time the products change, the header state will update.

[2020-09-23 17:30] coston opened #197 "Feature Request: allow dynamic header updates without Table key"
Having to add a [dynamic header key](https://github.com/coston/react-super-responsive-table#using-dynamic-headers) to the Table could be engineered out. Do it in a lightweight way, ideally with no breaking changes.

[2020-09-23 17:30] coston commented on #197
Inspired by #196

[2020-09-24 10:38] jdrag12 commented on #196
Ok, that works. Thank you very much Coston.

[2020-09-27 21:44] s-suresh-kumar opened #198 "onClick does not function on small viewports as well as on desktops when screen size is less than 800 px"
onClick handlers do not fire ( nor the cursor transition) at 800 px or less.
I am only showing a portion of the code. Here you can see two onClick handlers.  They function great above 800 px in desktop browsers chrome, edge etc., At 800 px and above I see Theads are on top (horizontal row).  Below 800 px the Thead is vertical and goes as first column, that is when the onClicks do not function.

[2020-09-27 22:54] coston commented on #198
Hey @s-suresh-kumar, thank you for creating this issue. We should definitely enable this. If you'd like to contribute a fix, please feel free to open a PR. Otherwise, I will happily patch in a fix for this soon.

[2020-09-27 23:07] coston commented on #198
Hey @s-suresh-kumar, thank you for creating this issue. We should definitely enable this. If you'd like to contribute a fix, please feel free to open a PR.

[2020-09-27 23:40] s-suresh-kumar commented on #198
I will be more than happy to contribute.  If you can give me a little overview how this package works, I should be able to contribute. I have some time to contribute now.

[2020-10-12 00:11] thiagotakehana opened #200 "add index.d.ts typescript definitions"
Create default file index.d.ts with typescript definition exporting interfaces and methods.
With definition is easier to add on ts project and we do not receive warnings anymore.

![image](https://user-images.githubusercontent.com/8048691/95694031-077e8000-0c06-11eb-8107-fd6fddb1e355.png)

If owners want to add, I can work on it.

[2020-10-12 12:10] coston commented on #200
Hey @thiagotakehana, thank you for creating this issue. This is a very welcomed enhancement. Please open a PR for it at your convenience. 🙌

[2020-10-22 00:55] #200 closed

[2020-10-22 01:03] coston commented on #200
@thiagotakehana this is now available `@5.1.4` 🎉

Thank you for contributing!

[2020-11-22 02:11] brycepeters95 opened #216 "Table dissapears between 640px & 700px"
**Describe the bug**
Whenever the screen goes under 700px the table disappears but when it reaches 639px the table is shown again in its mobile format.

[2020-11-26 13:58] stephyswe opened #217 "make a table not a function so we can use popular libs as react-table"
**Is your feature request related to a problem? Please describe.**
A table is a an alternative to the html version `<table>`.

Sadly, react-super-responsive-table has functions as well. Most people use a popular library called 'react-table' to setup filter, sorting, rendering of cell data. The beauty of React-table is it doesn't do anything with the actual "rendering" of a table. So I can use Sema

[2020-11-26 16:18] praveensingh1 opened #218 "how to make header position fixed?"
Not able to make header in fixed position for long lit of data. Could you please suggest ?

[2020-11-30 14:44] coston commented on #218
Hey @praveensingh1, check out this article and see if it helps https://css-tricks.com/position-sticky-and-table-headers/

[2020-11-30 14:44] #218 closed

[2020-11-30 14:47] coston commented on #217
Hey @stephyswe! Thanks for creating this issue. It's a good idea. Is this an enhancement that you would like to contribute?

[2020-11-30 14:49] coston commented on #216
Hey @brycepeters95, it looks like you need to tweak the css used for your table. You don't have to use the css included in the package; you can copy it to your css file to adjust.

[2020-11-30 14:49] #216 closed

[2020-12-20 02:06] #196 closed

[2020-12-20 02:08] #197 closed

[2020-12-20 02:08] #134 closed

[2020-12-20 02:08] #136 closed

[2020-12-20 02:08] #217 closed

[2020-12-20 02:09] #198 closed

[2020-12-20 02:09] #119 closed

[2021-01-21 13:07] renovate[bot] opened #234 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-23 03:18] #234 closed

[2021-02-26 01:48] dayvista commented on #217
For anyone searching for a fix to this, as I was...

I figured out a work-around to combine this library with `react-table` without throwing an error. I basically copied `react-super-responsive-table`'s CSS, analyzed how it applies classNames to a table's individual elements once rendered in the browser, and applied that method to a table made with `react-table` and [Chakra UI](https://chakra-ui.c

[2021-02-26 01:55] coston commented on #217
Thanks for posting this @dayvista 💯

[2021-04-21 22:43] JESii opened #255 "Headers disappearing when table pivots at breakpoint"
**Describe the bug**
I have a table with five columns; displays just fine when the display is wide. When the display "flips", the column values are properly displayed but where the column headers should be, there is empty space.
**To Reproduce**
Trying to set up a codeSandbox to show the behavior...
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2021-04-22 13:36] coston commented on #255
@JESii The CodeSandbox sample will help to debug. It seems like it may be an issue with the CSS. Are you using the CSS provided or custom? Does the same issue exist with the demo site https://react-super-responsive-table.netlify.app/?

[2021-04-23 10:48] JESii commented on #255
I'm using your CSS, but I have to apply some additional styling. Mostly display properties, but I do need to change fonts and line-heights on the first element to match the comps. Seems to work elsewhere and if I back off on our styling requirements, then it works...

[2021-04-23 17:49] coston commented on #255
@JESii based on that, do you think the issue stems from the additional styles that you are applying? Let me know if you identify any defects in this lib.

[2021-04-24 13:03] JESii commented on #255
I'm testing that out -- how would you recommend adding additional styling and what would you recommend against?

[2021-05-04 14:53] JESii commented on #255
FYI: we re-styled and the problem isn't rearing its ugly head at this point :=)) Sorry; I don't have time right now to fiddle with it and see what caused it to break

[2021-05-04 14:59] coston commented on #255
Great! I'm glad the issue is resolved.

[2021-05-07 14:27] fandrupaw opened #258 "Add css class for mobile view"
It would be great to add eg `is-mobile` class when table is in mobile view, it would help to style table for each responsive modes

[2021-05-09 23:40] coston commented on #258
@fandrupaw thank you for creating this issue. That's a good idea. I would like to call it something not related to a device type, e.g., `is-pivoted` or `description-list`.

Would you like to open a PR for this enhancement?

[2021-06-19 23:41] asherM16 opened #269 "THead not working with react-table hooks."
**Thead Showing Error**
I am trying to integrate react-super-responsive-table with the help of react-table hook,
It is showing error :
[code]
When I use htlm thead tag it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Intergrate super responsive table and react-table together.

[2021-06-20 19:41] coston commented on #269
Hey @asherM16, this doesn't seem to be a bug of `react-super-responsive-table`. Feel free to post a code sandbox of the issue to seek help from the community.

[2021-06-20 19:41] #269 closed

[2021-06-20 19:59] colodenn commented on #269
Got the same problem with `react-table` and `react-super-responsive-table`

[2021-06-21 15:39] coston commented on #269
@colodenn Please post a code sandbox (or similar), if you'd like someone to help you resolve the issue.

[2021-06-21 15:49] colodenn commented on #269
@coston https://codesandbox.io/s/distracted-pasteur-5noc2?file=/pages/index.js

[2021-07-11 20:18] orcas-mgleich opened #278 "Prevent header column to repeate on every row"
I have a checkbox in table header to select all checkboxes in the rows. How can I prevent, that this checkbox will be also repeat on every row?
`<th dontRepeat><Checkbox id={'check-all-tasks'} onClick={checkAll} color='primary'/></th>`

[2021-07-11 20:30] orcas-mgleich opened #279 "Cells without value dont create cell in target card, field value not on same row how field key"
Column1 | Column2
----------|----------
Value1_1 | Value1_2
Value2_1 |
Value3_1 | Value3_2

produce

&nbsp; | &nbsp;
---------- | ----------
Column1 | Value1_1
Column2 | Value1_2
---------- | ----------
Column1 | Value2_1
Column2 | Value3_2
---------- | ----------
Column1 | Value3_1
Column2 |

[2021-07-13 00:14] coston commented on #279
Hey @orcas-mgleich, could you please provide a code sample of the issue. Simply removing content from a cell does not reproduce the issue when using the demo site.

[2021-07-13 00:26] coston commented on #278
Hey @orcas-mgleich. The class `.tdBefore` is applied to mobile width headers. One options is to use css to hide the checkbox with a child combinator. (e.g. `.tdBefore > input: { display: none }` )

[2021-07-13 08:55] orcas-mgleich commented on #279
[code]
**produce**:
![image](https://user-images.githubusercontent.com/6616109/125422039-dd08f32a-08a6-47ba-b4cc-ec6ebcd9c0bd.png)

**work around** a space after the value in the table cells
[code]
**produce**:
![image](https://user-images.githubusercontent.com/6616109/125422607-c62e756a-5e81-4c79-8c4a-efc1a3d8d3a3.png)

[2021-07-13 09:25] orcas-mgleich commented on #279
Here still test data saved in state
[code]

[2021-07-13 10:27] orcas-mgleich commented on #278
The problem is, the id of checkbox is unique. If it is repeated, the id is not unique any more. If I hide all checkboxes in mobile headers, the id is ever still not unique. So an option to avoid repeating would be a better way.

[2021-07-16 11:26] Antoine007 commented on #258
just do `.responsiveTable tr` or whatever in your css ?

[2021-09-14 11:50] MZvjerac opened #298 "Error: Element type is invalid"
Dear all,

**Representation of your work is great!**
I'm trying to use your library, but without success, thats why I need a help from you..
I gett an error:
"_Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed

[2021-09-14 12:24] coston commented on #298
Hey @MZvjerac would you mind posting your code sample in codesandbox.io and sharing the link?

[2021-09-14 13:20] MZvjerac commented on #298
Dear Coston,

I can give you code for a table component where I wanna implement your
library.
Link for table component :

https://codesandbox.io/s/elegant-clarke-dpodc?file=/src/2TableAKRx.js

This component is used together with others to create something like this:
[image: image.png]
Like you see, there are a lot of columns whose presentation on mobile phone
screens are bad, because of that
your

[2021-09-21 19:10] #258 closed

[2021-09-21 21:10] #279 closed

[2021-09-21 21:10] #278 closed

[2021-09-25 16:46] rkaufman13 commented on #298
I'm having a similar issue with just the Thead component. I can't get @MZvjerac 's sandbox to load (it looks like there are a few imports that didn't get uploaded to the sandbox) but I'm suspecting that without Thead it might work?

[2021-09-26 08:44] MZvjerac commented on #298
Try this: https://www.youtube.com/watch?v=ZtopjfXhUZI
It work nice.

On Sat, Sep 25, 2021 at 6:46 PM rkaufman13 ***@***.***> wrote:

[2021-09-29 03:08] jaredLo commented on #298
Same issue with Thead, I can't quite pinpoint what exactly is causing it. I've commented out Thead and the rest of the table loads just fine with react-table. Will come back with an actual working sandbox later.

[2021-11-19 16:08] yanoryuichi commented on #298
I also confirmed this. If thead has multiple trs, it fails.  The react-table is not responsive in the first place, it needs specifying width and height. I think using react-table with react-super-responsive-table is in demand. I hope this will fix.

[2021-12-09 10:46] vivek07542 opened #321 "Header in mobile view is not shown"
I am using this super responsive table with react. I have created a custom table that would be used for the project.

I am using this in a super responsive table and creating a table. Creating Dynamic Header and Dynamic Body.
On the Laptop View, the table is working fine but on mobile view, the header is not coming on the display as shown below in the screenshot as it should be.

I have been using

[2021-12-09 13:44] coston commented on #321
Hi @vivek07542, thank you for creating this issue. Are you using the styles provided in `src/SuperResponsiveTableStyle.css`?

If you're missing `tdBefore` styles, then the left side of mobile view would not show.

[code]

[2021-12-09 14:24] vivek07542 commented on #321
I have used this both thing
[code]
I am trying my best to solve this issue. I am working on multiple approaches that come to me.
The only thing that I was able to notice .I created a hard-coded table. The output of the table in the browser has the shown below code.

[code]
While  Dynamic Header Table has the following  Output in the browser for the same data:

[code]
The Only Difference between th

[2021-12-10 14:15] vivek07542 commented on #321
[](https://github.com/vivek07542/responsive_table_create )

Here is the repository, please install the npm to start the project.

You can see the table on Home Page only where you can see the issue for better understanding and flow.
Also, please guide, what would be the possible issue which needs to be addressed

[2021-12-13 09:01] vivek07542 commented on #321
Please help us out on this issue.

[2021-12-14 08:55] vivek07542 commented on #321
Hoping that you are seeing my bug.

[2021-12-15 13:49] coston commented on #321
@vivek07542 I haven't had time to debug your app myself.

Here is what I recommend you do catch the issue:
Recompose your table to a simple non-dynamic table. Next, add in the [dynamic features](https://github.com/coston/react-super-responsive-table#using-dynamic-headers). Then, break up your components however you see fit. Do you spot the issue?

[2021-12-16 04:08] CalebBarnes commented on #321
This is also happening for me. The first Th is showing on mobile but the rest of them have an empty th in the dom.

[2022-01-18 13:11] mcFreedom commented on #321
It's an odd one.
very annoying

[2022-03-02 21:53] I-keep-trying opened #349 "Still having trouble with dynamic header"
Sorry to bring this up again.

I tried the recommended solution from the closed issue: 'Dynamic Header #196' but it still will not update header values at all.

I tried with and without the `map` function. This is what it looks like without mapping and just using the array index for the key:

[code]

The tableHeaders are defined like this:

[code]

I'm importing the `SuperResponsiveTableStyle.css`

[2022-04-09 22:38] guismejia commented on #298
I had the same error a few days ago, I also wanted to use both libraries, react-table for its ease of creating tables and react-super-responsive-table for the ease it gives for the responsive of the table.

I solved it by leaving the TR out of the .map that is made to headerGroups, being as follows:

Before:

` <table {...getTableProps()}>
        <thead>
          {headerGroups.map((headerGroup)

[2022-04-09 22:41] guissmejia commented on #298
I had the same error a few days ago, I also wanted to use both libraries, react-table for its ease of creating tables and react-super-responsive-table for the ease it gives for the responsive of the table.

I solved it by leaving the TR out of the .map that is made to headerGroups, being as follows:

Before:

` <table {...getTableProps()}>
        <thead>
          {headerGroups.map((headerGroup)

[2022-04-27 18:21] #321 closed

[2022-04-27 20:19] vivek07542 commented on #321
But the issue has still not been resolved.
I have tried every aspect as you said **Recompose your table to a simple non-dynamic table. Next, add in the [dynamic features](https://github.com/coston/react-super-responsive-table#using-dynamic-headers). Then, break up your components however you see fit. Do you spot the issue?** but it's showing the same error.

[2022-04-28 00:33] CalebBarnes commented on #321
I also still have the issue.

[2022-05-02 12:59] I-keep-trying commented on #349
I got it working without this package, just using semantic-ui.

[2022-05-02 12:59] #349 closed

[2022-06-05 15:16] leeleahulkcs opened #374 "Request: Add support for React 18.x.x"
**Is your feature request related to a problem? Please describe.**
Please add support for React 18.x.x.  We cannot upgrade to React 18.x.x to resolve security issues because of this package.

**Describe the solution you'd like**
Support for React 18.x.x should be added.

[2022-06-06 15:23] coston commented on #374
Hey @leeleahulkcs! Would you like to submit a PR for this update?

[2022-06-06 15:25] coston commented on #374
Additionally, what's the issue for upgrading to React 18?

[2022-06-06 15:30] leeleahulkcs commented on #374
Hi @coston !

npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.9.0 || ^17.0.0" from react-super-responsive-table@5.2.0
npm ERR! node_modules/react-super-responsive-table
npm ERR!   react-super-responsive-table@"^5.2.0" from the root project

[2022-06-06 15:53] coston commented on #374
React 18 support released at `react-super-responsive-table@5.2.1`

[2022-06-06 16:19] coston commented on #374
@leeleahulkcs please let me know if the `react-super-responsive-table@5.2.1` resolves your issue ✌️

[2022-06-07 16:15] leeleahulkcs commented on #374
This works!  Thank you !

[2022-07-05 11:51] baselbj commented on #298
@coston I am not quit sure about this but i did some investigations and I noticed that the issue appears when trying to loop the Tr component where we need to add the key propriety to it.

I reviewed the code for the Tr and I think you should at least add the key prop to (Consumer) component as it is the parent component. For now the props, which contains the key prop are spread in TrInner .

Hopi

[2022-07-20 21:17] rupin90 opened #382 "How to customize CSS for the table and its elements?"
https://github.com/coston/react-super-responsive-table/blob/407504f9b46a82d6cf2ae68f67b683e0aa9c4383/src/SuperResponsiveTableStyle.css#L38

Hello,

Thank you for this responsive table
I am trying to customize to create a different look and feel for the table. We are using stitches, somehow I am not able to apply background to the header. What would be a way to apply css on the Table, Thead, Tr, Td

[2022-07-22 20:30] #382 closed

[2022-08-18 20:37] khxia opened #390 "Change the width of headers in mobile view."
**Describe the bug**
Hi! Love the components so far! I do have something that is more of a question than a bug, but I couldn't really find any other place to ask this:
Is there a way to change the width of the two columns in mobile view?

![image](https://user-images.githubusercontent.com/55375910/185489736-456a87a5-0e92-4e43-b598-629d36ae752b.png)

For example, if I had a lot of text as the table

[2022-11-02 13:34] coston commented on #390
Hey @khxia, sorry for the very late reply. The `width` styles can be modified by using your own CSS configuration for the table.